<main class="fixed inset-0 w-full h-full bg-dark text-light text-dynamic">
  
  
  
  <div class="relative z-10 flex flex-col justify-between w-full h-full grid-cols-2 grid-rows-2 gap-4 md:gap-0 align-items-start md:grid p-big bg-gradient-to-b from-transparent sm:to-dark/50 to-dark/90">
    <!-- absolute positioned center logo wrapper -->
    <div class="z-20 md:absolute top-1/2 left-1/2 md:-translate-x-1/2 md:-translate-y-1/2 ">
      <div id="b-letters" class="flex flex-row items-center justify-center"
          data-base-path="/assets/website-assets/b/"
          data-frames="{{ assets container='assets' folder='website-assets/b' }}{{ basename }}{{ unless last }},{{ /unless }}{{ /assets }}">
        <div class="md:w-1/4 min-w-20 -mx-[2%]"><img id="b-letter-1" src="/assets/website-assets/b/frame-2.svg" alt="B"></div>
        <div class="md:w-1/4 min-w-20 -mx-[2%]"><img id="b-letter-2" src="/assets/website-assets/b/frame-3.svg" alt="B"></div>
        <div class="md:w-1/4 min-w-20 -mx-[2%]"><img id="b-letter-3" src="/assets/website-assets/b/frame-4.svg" alt="B"></div>
      </div>
      <p class="flex justify-center mt-2 text-4xl ">
        bussibaba
      </p>
    </div>


    <!-- band description -->
    <h1 class="max-md:hidden text-light order-2 font-normal md:max-w-[35ch] row-start-2 col-start-1 self-start sm:self-end mt-auto md:mt-0">
      Wiener Mundart, Groove und ehrliche Texte: Bussi Baba mischt funky Rhythmen und Emotion zu einem Sound der berührt und bewegt.
    </h1>
  
    <!-- booking button -->
    <div class="flex justify-end order-10 col-span-2 gap-2 md:items-start sm:gap-5 max-md:flex-col">
      <a href="mailto:hallo@bussibaba.band" class="order-3 w-full text-center no-underline transition-colors duration-200 ease-in-out rounded-none whitespace-nowrap px-big py-medium sm:w-auto bg-dark text-light hover:bg-light hover:text-black p-dynamic" target="_blank">Schreib Uns</a>
      
      <a href="https://www.instagram.com/bussibababerlin/" class="order-3 w-full text-center no-underline transition-colors duration-200 ease-in-out rounded-none whitespace-nowrap px-big py-medium sm:w-auto bg-dark text-light hover:bg-light hover:text-black p-dynamic" target="_blank">Instagram</a>
      
      <a href="https://t.me/bussi_baba" class="order-3 w-full text-center no-underline transition-colors duration-200 ease-in-out rounded-none whitespace-nowrap px-big py-medium sm:w-auto bg-dark text-light hover:bg-light hover:text-black p-dynamic" target="_blank">Infokanal</a>
    </div>
    
    <!-- music player -->
    <div class="self-end order-3 w-full col-start-2 row-start-2 mt-auto justify-self-end md:max-w-96">
       <div id="player"></div>
       <script src="/js/playerjs.js"></script>
       <script>
          var player = new Playerjs({
             id: "player",
             file: [
                {
                  "title": "Nur nicht frei",
                  "file": "/assets/music/nur-nicht-frei-bussibaba.mp3",
                  "poster" : "/assets/gallery/1.jpeg"
                },
                {
                  "title": "Hawara",
                  "file": "/assets/music/hawara-bussibaba.mp3",
                  "poster" : "/assets/gallery/img_8663.jpg"
                }
             ]
          });
       </script>
    </div>
  </div>

  
  

  <!-- gallery -->
  <div class="scroll_gallery">
    {{ assets container="assets" folder="gallery" sort="random" }}
      <figure class="scroll_gallery__figure">
        <img class="scroll_gallery__image" src="{{ url }}">
      </figure>
    {{ /assets }}
  </div>

  <!-- grain overlay -->
  <div id="grain" style="background-image: url('/assets/website-assets/grain.png')"></div>
</main>