canvas {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
} 

.scroll_gallery {
  height: calc(295 * var(--su));
  position: relative;
  visibility: hidden;
}

.scroll_gallery__figure {
  position: absolute;
}

.scroll_gallery__figure:nth-child(1) {
  height: calc(40 * var(--su));
  width: calc(70 * var(--su));
}

.scroll_gallery__figure:nth-child(2) {
  height: calc(50 * var(--su));
  left: calc(85 * var(--su));
  top: calc(30 * var(--su));
  width: calc(40 * var(--su));
}

.scroll_gallery__figure:nth-child(3) {
  height: calc(50 * var(--su));
  left: calc(15 * var(--su));
  top: calc(60 * var(--su));
  width: calc(60 * var(--su));
}

.scroll_gallery__figure:nth-child(4) {
  height: calc(30 * var(--su));
  right: 0;
  top: calc(10 * var(--su));
  width: calc(50 * var(--su));
}

.scroll_gallery__figure:nth-child(5) {
  height: calc(60 * var(--su));
  right: calc(15 * var(--su));
  top: calc(55 * var(--su));
  width: calc(40 * var(--su));
}

.scroll_gallery__figure:nth-child(6) {
  height: calc(75 * var(--su));
  left: calc(5 * var(--su));
  top: calc(120 * var(--su));
  width: calc(57.5 * var(--su));
}

.scroll_gallery__figure:nth-child(7) {
  height: calc(70 * var(--su));
  right: 0;
  top: calc(130 * var(--su));
  width: calc(50 * var(--su));
}

.scroll_gallery__figure:nth-child(8) {
  height: calc(50 * var(--su));
  left: calc(85 * var(--su));
  top: calc(95 * var(--su));
  width: calc(40 * var(--su));
}

.scroll_gallery__figure:nth-child(9) {
  height: calc(65 * var(--su));
  left: calc(75 * var(--su));
  top: calc(155 * var(--su));
  width: calc(50 * var(--su));
}

.scroll_gallery__figure:nth-child(10) {
  height: calc(43 * var(--su));
  right: 0;
  top: calc(215 * var(--su));
  width: calc(30 * var(--su));
}

.scroll_gallery__figure:nth-child(11) {
  height: calc(50 * var(--su));
  left: calc(70 * var(--su));
  top: calc(235 * var(--su));
  width: calc(80 * var(--su));
}

.scroll_gallery__figure:nth-child(12) {
  left: 0;
  top: calc(210 * var(--su));
  height: calc(70 * var(--su));
  width: calc(50 * var(--su));
}

@media (max-width: 1200px) {
  .scroll_gallery {
    height: calc(650 * var(--su));
  }

  .scroll_gallery__figure:nth-child(1) {
    height: calc(60 * var(--su));
    width: calc(100 * var(--su));
  }

  .scroll_gallery__figure:nth-child(2) {
    height: calc(110 * var(--su));
    left: auto;
    right: 0;
    top: calc(25 * var(--su));
    width: calc(70 * var(--su));
  }

  .scroll_gallery__figure:nth-child(3) {
    height: calc(80 * var(--su));
    left: calc(12 * var(--su));
    top: calc(80 * var(--su));
    width: calc(89 * var(--su));
  }

  .scroll_gallery__figure:nth-child(4) {
    height: calc(60 * var(--su));
    right: 0;
    top: calc(153 * var(--su));
    width: calc(60 * var(--su));
  }

  .scroll_gallery__figure:nth-child(5) {
    height: calc(110 * var(--su));
    left: 0;
    right: auto;
    top: calc(180 * var(--su));
    width: calc(70 * var(--su));
  }

  .scroll_gallery__figure:nth-child(6) {
    height: calc(135 * var(--su));
    left: calc(95 * var(--su));
    top: calc(230 * var(--su));
    width: calc(87.5 * var(--su));
  }

  .scroll_gallery__figure:nth-child(7) {
    height: calc(110 * var(--su));
    left: 0;
    right: auto;
    top: calc(310 * var(--su));
    width: calc(80 * var(--su));
  }

  .scroll_gallery__figure:nth-child(8) {
    height: calc(50 * var(--su));
    left: auto;
    right: 0;
    top: calc(385 * var(--su));
    width: calc(80 * var(--su));
  }

  .scroll_gallery__figure:nth-child(9) {
    height: calc(100 * var(--su));
    left: calc(110 * var(--su));
    top: calc(450 * var(--su));
    width: calc(70 * var(--su));
  }

  .scroll_gallery__figure:nth-child(10) {
    height: calc(50 * var(--su));
    left: calc(20 * var(--su));
    right: auto;
    top: calc(440 * var(--su));
    width: calc(55 * var(--su));
  }

  .scroll_gallery__figure:nth-child(11) {
    height: calc(70 * var(--su));
    left: auto;
    right: 0;
    top: calc(570 * var(--su));
    width: calc(70 * var(--su));
  }

  .scroll_gallery__figure:nth-child(12) {
    left: 0;
    top: calc(515 * var(--su));
    height: calc(100 * var(--su));
    width: calc(90 * var(--su));
  }
}

.scroll_gallery__image {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
