@import "tailwindcss";
@import "./gallery.css";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";

@theme {
  --color-dark: #0d050e;
  --color-light: #fff;
  --text-dynamic: clamp(1.5rem, 5vw, 2rem);
  --spacing-big: clamp(1rem, 5vw, 4rem);
  --spacing-medium: clamp(0.5rem, 5vw, 1.25rem);
}


html {
  --su: calc(100vw / 1920 * 10);
  font-size: 16px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

img {
  display: block;
}

#grain {
  animation: grain 6s steps(10) infinite;
  background-image: url('../../../public/assets/website-assets/grain.png');
  background-repeat: repeat;
  height: 300%;
  left: -100%;
  opacity: 0.06;
  pointer-events: none;
  position: fixed;
  top: -100%;
  width: 300%;
  will-change: transform;
  z-index: 3;
  pointer-events: none;
}

@keyframes grain {
  0% { transform: translate(20%, -15%) }
  10% { transform: translate(-20%, -15%) }
  20% { transform: translate(20%, -5%) }
  30% { transform: translate(-20%, -5%) }
  40% { transform: translate(20%, 5%) }
  50% { transform: translate(-20%, 5%) }
  60% { transform: translate(20%, 15%) }
  70% { transform: translate(-20%, 15%) }
  80% { transform: translate(20%, 5%) }
  90% { transform: translate(-20%, 5%) }
  100% { transform: translate(20%, -5%) }
}